body{
     font-family: 'Poppins', sans-serif;
     margin: 0px
}

.tomato-color{
     color: rgb(235, 70, 42);
}

h1{
     font-size: 50px;
}



/*heading part style*/

.container-flex{
     display: flex;

     margin-bottom: 100px;
     
     
}

.flexble-container-width{
     width: 50%;
    
     margin: 2%;
     padding:2%;


}
.flexble-container-width img{
     width: 100%;
     border-radius: 20px;

}

.button-link{
     
     text-decoration: none;
     text-align: center;

     font-weight: 700px;
     color: white;

     border-radius: 10px;

     background-image: linear-gradient(rgb(241, 50, 50),rgba(241, 177, 177, 0.61));

     padding: 10px 40px;
     
}




.middle-banner{
     background-image: url(images/shapes/Frame\ 59.jpg);
     background-repeat: no-repeat;
     background-size: 100%;
     
     width: 100%;
}


/*recipi part 3rd stye*/

.content-recipie{

     width: 100%;
     height: 600px;
     margin-bottom:200px;
     padding: 10px;
     
     
}

.recipie-heading{
     color:rgb(199, 47, 20);
     text-align: center;
     margin: 10px;
}


.content-flex-recipie{
     display: flex;
     margin-bottom: 200px;
     
     
}

.content-flex-res-item{
     display: flex;
     flex-direction: column;
     
     margin-left: 10px;
     margin-right: 10px;
     padding: 5px;
     
     box-shadow: 5px 5px 5px gray;
     border-radius: 20px;
     
}

.flexble-res-item{
     
     height: 60%;
     
     padding: 10px;
     

}
.flexble-res-item img{
     width: 350px;
     border-radius: 20px;

}



/*reord part style*/
.review-media{
     display: flex;
     margin: 50px;
     margin-bottom: 100px;
     box-shadow:10px 10px 10px rgb(162, 172, 182);


}
.review-media-item{
     width: 33.3%;
     padding: 20px;
     margin-left:70px
     
     

}


footer{
     background-color: slategray;
     text-align: center;
     width: 100%;
     height: 200px;
     padding: 50px;
}

