body{
     font-family: 'Poppins', sans-serif;
     margin: 0px
}

.tomato-color{
     color: rgb(235, 70, 42);
}

h1{
     font-size: 50px;
}


/*heading part style*/

.container-flex{
     display: flex;

     height: 400px;

     margin-bottom: 100px;
     
}

.flexble-container-width{
     width: 50%;
    
     margin-right: 70px;
     margin-left: 70px;
     padding: 10px;


}
.flexble-container-width img{
     width: 100%;

}

.button-link{
     
     text-decoration: none;
     text-align: center;

     font-weight: 700px;
     color: white;

     border-radius: 10px;

     background-image: linear-gradient(rgb(241, 50, 50),rgba(241, 177, 177, 0.61));

     padding: 10px 40px;
     
}



/*recipi part 3rd stye*/

.content-recipie{

     width: 100%;
     height: 600px;
     margin-bottom:100px;
     padding: 10px;
     
     
}
.recipie-heading{
     color:rgb(199, 47, 20);
     text-align: center;
     margin: 10px;
}


.content-flex-recipie{
     display: flex;
     height: 500px;
     width: 100%;
     
     
     

}

.content-flex-res-item{
     
     margin:10px;
     
     box-shadow: 5px 5px 5px gray;
     border-radius: 20px;
     
}

.flexble-res-item{
     
     
     width: 100%;
     height: 50%;
     margin: 5px;
     padding: 5px;
     

}
.flexble-res-item img{
     width: 350px;
     border-radius: 20px;

}



/*reord part style*/
.review-media{
     display: flex;
     margin: 50px;
     margin-bottom: 100px;
     box-shadow:10px 10px 10px rgb(162, 172, 182);


}
.review-media-item{
     width: 33.3%;
     padding: 20px;
     margin-left:70px
     
     

}


footer{
     background-color: slategray;
     text-align: center;
     width: 100%;
     height: 200px;
     padding: 50px;
}

